<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>PetFax</title>
</head>

<body>
    <h1>Welcome to PetFax</h1>
    {% for pet in pets %}
    <a href="/pets/{{pets.index(pet)}}">
        <h2>{{pet.pet_name}}</h2>
    </a>
    <div class="img-container">
        <img src="{{pet.pet_photo}}" alt="{{pet.pet_name}}">
    </div>
    {% endfor %}
    <p>I would like to <a href="/facts/new"><i>submit</i></a> a fact.</p>
</body>

</html>